@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Cal+Sans&family=Golos+Text:wght@400..900&display=swap");
@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "remixicon/fonts/remixicon.css";

:root {
  --prim: #a288e3;
  /* --prim: #DE6B48; */
  --text: #1c1c1d;
  --body: #f6f6f6;
  --white: #ffffff;
  --black: #000000;

  --CalSans: "Cal Sans", sans-serif;
  --Audiowide: "Audiowide", sans-serif;
  --GolosText: "Golos Text", sans-serif;

  --transition-regular: 0.3s;
  --transition-slow: 0.5s;
}

body {
  background-color: var(--body);
}

.CalSans {
  font-family: var(--CalSans);
}
.Audiowide {
  font-family: var(--Audiowide);
}
.GolosText {
  font-family: var(--GolosText);
}
